.header{
    background-color: #151a1f;
    padding: 17px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.header h1{
    margin: 0;

}

 .logout-btn{
    background-color: red;
    padding: 10px 20px;
    color: beige;
    border: none;
    border-radius: 5px;
 }